<h1>Autor</h1>
<img src="/hfsr.jpg" alt="image" width="100px" height="150px">
<p>Henri Samuel Ing. en Informática.</p>
<p>Egresado de la Universidad Centroccidental "Lisandro Alvarado" <a href="http://www.ucla.edu.ve/">UCLA</a></p>
<p>Barquisimeto-Venezuela</p>