<label for="preg" calss="rem">Pregunta:</label>
<input id="preg" type="text" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Pregunta"></br>
<label for="resp" class="rem">Respuesta:</label>
<input id="resp" type="text" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Respuesta"></br>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">